<div class="sidebar">
    <a style="background-color: #000705;" href="/"><img src="/assets/images/noise_logo.png" alt="" class="header__logo"></a>
    <a href="/camiseta/">Camisetas</a>
    <a href="/decoracao/">Decoração</a>
    <!-- <a href="/perecoteco/">Perecotecos</a> -->
    <a style="background-color: #000705" href="/sobre/">Sobre Nós</a>
    <form style="margin-top: 15px; text-align: center;" target="pagseguro"
        action="https://pagseguro.uol.com.br/security/webpagamentos/webpagto.aspx" method="post">
        <input type="hidden" name="email_cobranca" value="ruidospodcast@gmail.com" />
        <input type="hidden" name="tipo" value="VER" />
        <input type="image" style="height: 50px;width: auto;" src="/assets/images/shoppingcart.png"
            name="submit" alt="Visualizar carrinho de compras" />
</form>
<div class="iframe-container"><iframe src="https://duckduckgo.com/search.html?width=115&site=lojanoise.netlify.app&prefill=Busca Noise!" style="overflow:hidden;margin:0;padding:0;width:173px;height:40px;" frameborder="0"></iframe>
</div></div>
